html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  color: #102b40;
  background-color: #ecebf5;
  width: auto;
  max-width: 100%;
}

header h1 {
  justify-content: center;
  font-size: 35px;
  text-align: center;
  border-bottom: 8px solid #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #edd093;
  margin: 0 auto 10px auto;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 0;
}

.mains {
  padding: 5px;
  margin: 3px;
  align-items: flex-start;
  margin-left: 5px;
  padding-left: 5px;
  width: auto;
  max-width: 90%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-weight: 600;
}

.titles {
  border-left: double 8px #000;
  background-color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 2px;
  margin-top: 2px;
}

.titles p {
  padding-left: 2px;
  font-size: 30px;
}

.ImageClick {
  width: 30px;
  height: 30px;
}
