html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  color: #102b40;
  background-color: #ecebf5;
  width: auto;
  max-width: 100%;
}
html body {
  padding: 0;
  margin: 0;
}

header h1 {
  justify-content: center;
  font-size: 50px;
  text-align: center;
  border-bottom: 8px solid #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px 10px 15px 10px;
  margin: 0 auto 100px auto;
}
header {
  background-color: #edd093;
  position: fixed;
  width: 100%;
  height: auto;
  margin: 0;
}
.menu-line::after {
  bottom: 10px;
  position: absolute;
}
.menu-line::before {
  top: 10px;
  position: absolute;
}
.menu-line,
.menu-line::after,
.menu-line::before {
  border-top: #000 5px solid;
  content: '';
  width: 40px;
  height: 20px;
}
.menu {
  position: relative;
  margin-top: 20px;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 20px;
}

.mains {
  padding-top: 200px;
  padding-bottom: 2px;
  margin: 3px;
  align-items: flex-start;
  margin-left: 5px;
  padding-left: 5px;
  width: auto;
  max-width: 90%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}

.titles summary {
  border-left: double 8px #000;
  background-color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 2px;
  margin-top: 2px;
  height: 70px;
  width: 100%;
  font-size: 35px;
}

.titles details {
  padding-left: 2px;
  font-size: 30px;
}

.ImageClick img {
  width: 100px;
  height: 100px;
  border: #102b40 5px solid;
  border-radius: 20px;
  cursor: pointer;
}

.No {
  display: none;
}

.pic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 65%;
  object-fit: contain;
  border: #202b40 3px solid;
}

.explane {
  font-size: 15px;
  margin-top: 0;
  padding-top: 0;
}

.talk {
  margin: 20px auto 40px auto;
  max-width: auto;
  border: #102b40 3px solid;
  border-radius: 10px;
  padding: 15px 20px;
  position: relative;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

.talk::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -23px;
  transform: translateY(-50%);
  border: 10px solid transparent;
  border-right: 13px solid #102b40;
}

.talk::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
  border: 10px solid transparent;
  border-right: 13px solid #fff;
}
