html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  color: #102b40;
  background-color: #ecebf5;
}

header {
  row-gap: 0;
  display: flex;
  justify-content: center;
  font-size: 35px;
  text-align: center;
  border-bottom: 8px solid #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 5em;
  padding-right: 5em;
  width: 10em;
  max-width: 100%;
  background-color: #edd093;
  margin-bottom: 10px;
}

.mains {
  padding: 5px;
  margin: 3px;
  justify-content: center;
  align-items: flex-start;
}

.titles {
  border-left: double 8px #000;
  font-size: 30px;
  background-color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 3px;
  padding-top: 3px;
}
